<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    {% if page.title %}
    <title>{{ page.title }} | {{ site.author }}</title>
    {% else %}
    <title>三分思考 | {{ site.author }}</title>
    {% endif %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/assets/css/voyage.css">
    <link rel="google+" href="https://plus.google.com/u/0/108098881131336504752"/>
    <link rel="author" href="https://github.com/xianyuxmu"/>
    <link rel="linkedin" href="https://www.linkedin.com/in/chenyebin/"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <meta name="keywords" content="陈烨彬,三分思考,Robin Chen,厦门大学,厦大,厦门管理学院">
    <meta name="author" content="陈烨彬 Robin Chen">
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <a href="/"><h1 class="site-title">三分思考。</h1></a>
        <nav>
        <span><a title="vitae" class="" href="{{ site.url }}/timeline/">/ timeline</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/categories/">/ categories</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/tags/">/ tags</a></span>
        <span><a title="about" class="" href="{{ site.url }}/about/">/ about</a></span>
        <span><a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">/ subscribe</a></span>
        </nav>
        </header>
        <article class="content">
        {% if page.title %}
        <div class="post-info">
        <h1 class="post-title">{{ page.title }}</h1>
        <div>
        {% if page.date or page.categories.size > 0 or page.tags.size > 0 %}
        
          <span class="time text-selected">
            {% if page.date %}
              date:
            {% endif %}
            <span>{{ page.date | date:"%Y-%m-%d" }}</span>
          </span>
          {% if page.categories.size > 0 %}
          <span class="categories text-selected">
            , categories:
            {% for cat in page.categories %}
            <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
            {% endfor %}
          </span>
          {% endif %}
          {% if page.tags.size > 0 %}
          <span class="tags text-selected">
            , tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>&nbsp;
            {% endfor %}
          </span>
          {% endif %}
          <br />
        
        {% endif %}
        </div>
        </div>
        {% endif %}
        {{ content }}
        </article>
      </div>
    </div>
    <!-- Google Analytics -->
    <script type="text/javascript">
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-73114677-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <!-- Baidu Analytics -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?289790880a493058d3d0e75d31c8b250";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <!-- End Baidu Analytics -->
  </body>
</html>
