---
layout: default
---

<section class="post">
{{ content }}
</section>
<section class="meta">
- - - - - -
<br />
<span class="author">
  written by <a href="http://robinchen.me">{{ site.author }}</a>
</span>
<span class="license">
  , and published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>.
</span>
</section>
<section class="empty-box">
  
</section>
<script type="text/javascript">

console.log("%cVoyage%c is one of my favorite fragrances!", "color: #9a3900; font-size: 1em; font-family: 'Hei';", "color: #ff4600;");

</script>

